PORT=3001
MONGO_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/<nombre_db>
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_app_password_de_gmail
FRONTEND_URL=http://localhost:5173
